body{
    background: #19031f;
    
}



.container{
    width: 1000px;
    margin: 0 auto;
}

h1 {
	text-align: center;
	margin: 50px 0px 10px 10px;
	color: rgba(255, 255, 255, 0.83);
	font-size: 50px;
	font-weight: 900;
	font-family: unset;
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;

}

ul li{
    display: inline-block;
    margin: 30px 0;
}

img{
    width: 300px;
    height: 200px;
    margin: 15px;
	border:2px solid;


}


.al {
	background: #bfbfbf;
	padding: 10psx 5px;
	border: 1px solid #000;
	border-radius: 6px;
	font-size: 20px;
	font-family:'Times New Roman', Times, serif:
	font-weight: 900;
	color: #ca3b0d;
	width: 200px;
	height: 33px;
	line-height: 33px;
	text-align: center;
    margin-right: 20px;
	position:relative;
	cursor:default;
}





