* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.twin,
.twincon {
    background-color: #19031f;
    height: 80vh;
    border: 2px solid gold;
    width: 100%;
}

.twin2 {
    background-color: #19031f;
    height: 20vh;
    border: 2px solid Gold;
    width: 100%;
}

.twin2 h1 {
    color: gold;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    display: block;
    font-size: 45px;
}

.twin2 p {
    color: gold;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    display: block;
    font-size: 20px;
}

#bars {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #19031f;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    font-weight: bold;
    display: block;
    color: White;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gold;
}

.active {
    background-color: #301368;
}

.header img {
    margin-left: 40vw;
    height: 25vh;
    width: initial;
}

.header h2 {
    margin-left: 35vw;
    display: block;
    font-family: 'Great Vibes', cursive;
    color: #19031f;
    font-size: 38px;
    font-weight: bold;
}

.parallax {
    z-index: -1;
    opacity: 01;
    background-image: url("twinp2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    z-index: -1;
    opacity: 1;
    background-image: url("twinp2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    z-index: -1;
    opacity: 1;
    background-image: url("Connecting3.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    z-index: -1;
    opacity: 1;
    background-image: url("Prince.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#twinj {
    font-family: 'Great Vibes', cursive;
    display: block;
    font-size: 28px;
    color: white;
}

.name {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    text-decoration-line: underline;
    color: gold;
    display: block;
    margin-left: 32vw;
    padding-top: 15vh;
    text-shadow: 0 0 10px #19031f;
    z-index: 1;
    -moz-text-decoration-line: underline;
}

div.gallery {
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #19031f, 0 0 8px #0000ff;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: gold;
}

* {
    box-sizing: border-box;
}

.responsive {
    margin-top: 10vh;
    padding: 0 6px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 40%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.mousedown {
    color: gold;
    display: block;
    margin-left: 50vw;
    padding-top: 15vh;
    text-shadow: 0 0 10px #19031f;
    font-size: 32px;
    font-weight: bolder;
}

.mousedown1 {
    color: gold;
    display: block;
    margin-left: 50vw;
    text-shadow: 0 0 10px #19031f;
    font-size: 32px;
    font-weight: bolder;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #19031e;
    ;
    height: 25vh;
}

.p {
    padding-top: 180px;
    color: white;
    text-align: left;
    display: block;
    bottom: 0;
}

.contact {
    padding-top: -10vh;
    color: white
}

.twincon h1 {
    font-size: 32px;
    color: rgb(250, 243, 202);
    font-family: 'Great Vibes', cursive;
}

.twincon h2 {
    color: rgb(255, 245, 187);
    font-family: "Times New Roman";
}

.parallax .name {
    margin-left: 25%;
}

.gallery img:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}