body {
    padding: 0;
    margin: 0;
    background-color: #8b7f53;
}

table {
    z-index: 5;
    margin: 10vw;
    background-color: #f2f2f2;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 42vw;
}

th,
td {
    padding: 0.8vw;
    text-align: left;
}

.button {
    text-align: center;
}

.words,
.button {
    font-size: 50px;
    color: #8b7f53;
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
}

.head {
    font-family: 'Great Vibes', cursive;
    color: #8b7f53;
    font-size: 45px;
}

.button {
    font-weight: bold;
    width: 20vw;
    background-color: #ffffff;
    color: #8b7f53;
    padding: 10px 15px;
    margin: 8px 0;
    border: 4px solid #8b7f53;
    border-radius: 20px;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 22px;
    font-family: 'Lobster Two', cursive;
}

.button:hover {
    background-color: #b3a26e;
    color: aliceblue;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    table {
        width: 50vw;
    }
    .words,
    .button {
        font-size: 16px;
        color: #8b7f53;
        font-family: 'Lobster Two', cursive;
        font-size: 25px;
    }
}