

/*--mizabdue:contact__2020/07/03--*/

	.content_h1{
		text-align: center;
		font-family: 'Great Vibes', cursive;
		font-size: 12vh;
		color: #8b7f53;		
	}
	
	body{
		background-image: url("img/contact-bg.png");		
		padding-right: 18vw;		
		padding-left: 18vw;
	}
	
	.row{
		background-color: #83744d;		
		padding-top: 2.5vh;
		padding-right: 4vw;
		padding-bottom: 2.5vh;
		padding-left: 4vw;		
		color: #f2f2f2;
		font-size: 2.5vh;
		font-family:Bahnschrift SemiCondensed;
	}
	
	.col-sm-12{
		background-color: #FCFCFC;
		color: #83744d;
		padding-top: 0.5vh;
		padding-right: 0.5vw;
		padding-bottom: 0.5vh;
		padding-left: 0.5vw;
		font-family:Bahnschrift SemiCondensed;
	}
	
	.infobox_infobox--s2{
		background-color: #52517B;
	}
	
	a:link{
		color: #F0AF1A;
	}
	
	.table{
	text-align: left;
	}
	
/*--mizabdue:contact__2020/08/--*/

	.form-control{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}
		
	.btn{
		background-color: #83744d;
		border: none;
		color: white;
		padding: 10px;
		text-align: center;
		display: inline-block;
		font-size: 3vh;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 10px;
		border: 2px solid #555555;
	}